/*

IMPORTANT!

hri-common - Style sheet for HRI header and footer
Author: Juhani Jaakkola, juhani.jaakkola@hiq.fi

Defined variables should match the ones in style.css

*/
/* General */
body {
  font: normal 13px/19px Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.hri-wrapper {
  margin: auto;
  padding: 0 120px;
  width: 960px;
}

.left {
  float: left;
}

.right {
  float: right;
}

nav ul, nav ol {
  list-style: none outside none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

a, a:link, a:visited, a:focus, a:active {
  text-decoration: none;
  outline: none;
}

.site-footer a, .site-footer a:link, .site-footer a:visited, .site-footer a:focus, .site-footer a:active {
  color: #4895A7;
}

.rel {
  position: relative;
}

@media (max-width: 1260px) {
  .hri-wrapper {
    padding: 0 10px;
  }
}
.post-highlight {
  border-bottom: 1px dotted #b6b6b6;
}
.post-highlight .highlight-excerpt {
  display: block;
  float: left;
  margin-top: 8px;
  width: 345px;
}
.post-highlight .highlight-excerpt a {
  font-weight: bold;
}
.post-highlight .highlight-excerpt p {
  margin: 4px 0;
}
.post-highlight .img-to-thumb img,
.post-highlight .wp-post-image {
  margin: 8px 20px 8px 0;
}

.infobox .attachment-thumbnail {
  margin-bottom: 10px;
}

.infobox .post-highlight .highlight-excerpt {
  float: none;
  margin-top: 0;
  width: auto;
}

.h4-c {
  margin: 40px 0 0 0;
  border-bottom: 1px solid #dedede;
}

h4.icon {
  display: inline-block;
  margin: 0;
  text-indent: 20px;
  padding-bottom: 5px;
}

.icon-small-data {
  background: url(img/sprites.png) no-repeat 2px -1059px;
}

.icon-small-downloads {
  background: url(img/sprites.png) no-repeat 2px -2066px;
}

h4.icon-small-speech {
  background: url(img/sprites.png) no-repeat 0 -1894px;
  text-indent: 25px;
}

h4.icon-small-apps {
  margin-top: -4px;
  padding-top: 4px;
  background: url(img/sprites.png) no-repeat 0 -1093px;
  text-indent: 25px;
}

.sidebar-app-list .post-highlight .wp-post-image {
  margin-right: 12px;
}
.sidebar-app-list .post-highlight .highlight-excerpt {
  width: 170px;
  margin-bottom: 3px;
}

#related_apps h4 {
  width: 200px;
}
#related_apps .sidebar-app-list {
  padding-left: 5px;
}
#related_apps .img-to-thumb img {
  float: left;
  height: auto;
  max-height: 75px;
  max-width: 75px;
  padding: 0 !important;
  width: auto;
}

#comments {
  padding-top: 18px;
}

.commentlist {
  list-style: none;
  padding: 0;
}

.commentlist ul {
  list-style: none;
}

.comment {
  margin-bottom: 32px;
  position: relative;
}

.comment-body {
  background: #f8f8f8;
  border: 1px solid #dedede;
  padding: 20px 20px 2px 20px;
  position: relative;
  margin-bottom: 10px;
}
.comment-body p {
  overflow: hidden;
}
.comment-body .ratingbg {
  margin-left: 0;
}

.comment-nuoli {
  background: url(data:image/gif;base64,R0lGODlhCgAYALMNAN/f3+/v7/X19fT09PDw8Pf39+Li4u7u7uDg4Onp6UaTp/b29vj4+P///wAAAAAAACH5BAEAAA0ALAAAAAAKABgAAAROMLFJ2UhGVLYSAUXVHQ2yUGNTnlxCqmb7wksXqLiZ3LgK7D0cYBYkBI/IJE6xmVwUGlFCoQihpg0Fq6VQaSedrvcU7mnLZrQZe6QmxcgIADs=) no-repeat;
  width: 10px;
  height: 11px;
  position: absolute;
  bottom: -11px;
  left: 15px;
}

.comment-meta {
  line-height: 16px;
  position: relative;
}

a .comment-meta {
  color: #555;
}

cite {
  font-style: normal;
  font-weight: bold;
}

a .comment-meta cite {
  color: #4895a7;
}

.avatar {
  display: block;
  float: left;
  margin: 0 15px 20px 0;
}

.timestamp {
  font-size: 10px;
}

.comment-content {
  position: relative;
}

.comment-reply-link {
  display: block;
  font-weight: bold;
  position: absolute;
  bottom: 54px;
  right: 7px;
}

.comment-edit-link {
  display: block;
  position: absolute;
  bottom: 10px;
  right: 0;
}

#reply-title, .subtitles {
  color: #6cb868;
  margin-bottom: 15px;
}

.report-comment {
  color: #ae4598;
  cursor: pointer;
  position: absolute;
  bottom: 25px;
  right: 0;
  font-size: 10px;
}

#respond {
  margin-top: 20px;
}
#respond label {
  display: block;
  float: left;
  text-align: right;
  margin: 8px 10px 0 0;
  width: 80px;
}
#respond label[for="subscribe-reloaded"] {
  clear: both;
  float: none;
  line-height: 22px;
  width: auto;
  text-align: left;
  margin-left: 90px;
}
#respond label[for="subscribe-reloaded"] .hri_checkbox {
  margin: 0 5px 0 0;
}
#respond input.text, #respond textarea {
  width: 332px;
}

.plus-submit,
#respond #submit {
  background: white url(img/submit_btn.png) 0 0 no-repeat;
  border: none;
  color: #4895a7;
  font-size: 13px;
  font-weight: bold;
  outline: none;
  margin-left: 88px;
  height: 35px;
  line-height: 35px;
  padding-left: 46px;
}

.plus-submit:hover,
#respond #submit:hover {
  color: #6fbf6c;
}

.page-template-page-subscribe-php input[type="text"],
input.text {
  border: 1px solid #dedede;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}

textarea {
  border: 1px solid #dedede;
  border-radius: 3px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.1);
  padding: 10px;
}

#newcontentform input.text {
  width: 410px;
}

input.cb,
input.radio {
  border: none;
  height: 20px;
  opacity: 0.01;
  outline: none;
  width: 20px;
}

.hri_checkbox,
.hri_radio {
  background: url(img/inputs.png) no-repeat;
  border: 1px dotted transparent;
  clear: both;
  float: left;
  height: 20px;
  margin: 5px 10px 0 5px;
  width: 20px;
}

.hri_checkbox + label,
.hri_radio + label {
  float: left;
}

.hri_radio {
  background-position: -30px 0;
}

.hri_checkbox_checked {
  background-position: 0 -30px;
}

.hri_radio_checked {
  background-position: -30px -30px;
}

.hri_focus {
  border-color: #c4c4c4;
}

#commentform,
#commentform-rate {
  border-top: 1px solid #dedede;
  clear: both;
  padding-top: 20px;
}

h3.tab {
  background: #f5f5f5;
  border: 1px solid #dedede;
  color: #929292;
  cursor: pointer;
  float: left;
  text-align: center;
  clear: none;
  line-height: 42px;
  margin-bottom: 0;
  position: relative;
  top: 1px;
  padding: 0 24px;
}

#tab-rate {
  border-left: none;
}

h3.tab-active {
  background: #fff;
  border-bottom: 1px solid #fff;
  color: #6fbf69;
}

#cancel-comment-reply-link {
  padding-left: 10px;
}

#rater-toggle-bar {
  border-bottom: 1px solid #dedede;
  cursor: pointer;
}

#ratertogglelink {
  font-weight: bold;
}

#ratercontainer {
  margin-bottom: 30px;
}

.ratingseg {
  border-bottom: 1px dotted #cccccc;
  line-height: 44px;
}

.ratingseg div {
  float: left;
}

.ratingname {
  width: 80px;
  text-align: right;
  margin-right: 10px;
}

.ratingdesc {
  margin-left: 38px;
}

.hri-form-submit-link {
  cursor: pointer;
  display: block;
}

#respond .hri-form-submit-link {
  margin-left: 90px;
}

#report-container {
  background: #0a4a74;
  display: block;
  margin: 0 0 40px 0;
  clear: both;
  padding: 10px;
  position: relative;
  color: #fff;
}

#report-top {
  background: #0a4a74;
  height: 20px;
  position: absolute;
  top: -10px;
  left: 5px;
  width: 20px;
  z-index: 1;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}

#report-container h4 {
  position: relative;
  z-index: 2;
}

#report-form textarea {
  width: 96%;
  margin-bottom: 10px;
}

#report-form label {
  width: 140px;
  display: block;
  float: left;
}

#report-email {
  width: 96%;
}

#report-container h4 {
  color: #fff;
}

a.report-cancel {
  bottom: 20px;
  color: #EE7F2D;
  cursor: pointer;
  font-size: 13px;
  font-weight: bold;
  position: absolute;
  right: 20px;
  z-index: 3;
}

.report-comment-submit {
  background: url(img/submit_btn.png) left no-repeat;
  border: none;
  color: #f39447;
  font-weight: bold;
  height: 35px;
  line-height: 35px;
  outline: none;
  padding-left: 45px;
}

.comment_ratings_container {
  width: 180px;
  float: left;
  text-align: left;
}

.comment_ratings_container .ratingbg {
  float: left;
  margin-top: 3px;
}

.rating_container_floating {
  float: left;
  margin: 0 30px 0 5px;
  width: 100px;
}

.rating_container_floating .ratingbg {
  display: table;
}

.comment_ratings_container_wide {
  width: 460px;
  margin: 0 0 18px 0;
}

.comment-body-content {
  clear: both;
  padding-right: 30px;
}

#comment_subscribe_link {
  cursor: pointer;
  font-weight: bold;
  float: right;
  font-size: 13px;
}

#subscribe_content {
  background: #fafafa;
  margin: 0;
  padding: 30px 20px 10px 20px;
}
#subscribe_content .plus-submit {
  background-color: #fafafa;
  margin-top: 10px;
}
#subscribe_content label:after {
  content: "";
}
#subscribe_content label.hri_subscribe_label {
  font-weight: normal;
}
#subscribe_content label.hri_subscribe_label:after {
  content: ".";
}

#hri_subscribe_toggle {
  clear: both;
}

#hri_subscribe_email {
  margin-left: 7px;
}

#subscribe_content .hri_radio {
  margin-left: 90px;
}

.hri_subscribe_label {
  display: block;
  line-height: 22px;
  margin: 5px 0px;
  text-indent: 6px;
}

#subscribe_toggle_close {
  cursor: pointer;
  position: relative;
  top: 18px;
}

#hri-header {
  background: #0a4a74;
  border-bottom: 1px solid #18557c;
  color: #fff;
  height: 128px;
}

.hri-header-content {
  text-align: right;
  width: 773px;
  height: 128px;
}

#hri-languages a {
  color: #fff;
  font-size: 11px;
  padding: 0 5px;
}
#hri-languages a:hover {
  color: #6fbf6c;
}

#hri-logo {
  margin: 25px 0 0 10px;
  float: left;
}

#hri-info {
  position: relative;
  margin-top: 50px;
}
#hri-info p {
  padding: 3px;
}
#hri-info a {
  color: #9FA3CC;
  font-weight: bold;
  padding: 0 0 0 4px;
}
#hri-info #hri-languages {
  border: 0 none;
  margin: 0;
  padding: 0;
}

.en #main-nav ul {
  text-align: left;
}
.en #main-nav li {
  margin-right: 30px;
}

#main-nav {
  -webkit-transition: height 150ms, background 150ms;
  -moz-transition: height 150ms, background 150ms;
  -ms-transition: height 150ms, background 150ms;
  -o-transition: height 150ms, background 150ms;
  transition: height 150ms, background 150ms;
  background: #084169 url(img/navigation-fixed-bg2.png) no-repeat;
  border-top: 4px solid #084169;
  height: 67px;
  font-family: "proxima-nova", Arial, sans-serif;
  font-size: 15px;
  font-weight: 600;
}
#main-nav ul {
  list-style: none;
  margin: 0 10px;
  text-align: justify;
}
#main-nav li {
  -webkit-transition: height 150ms;
  -moz-transition: height 150ms;
  -ms-transition: height 150ms;
  -o-transition: height 150ms;
  transition: height 150ms;
  display: inline-block;
  text-align: center;
  margin: 0;
  height: 64px;
  position: relative;
  top: -4px;
  border-top: 4px solid #08426a;
  white-space: nowrap;
}
#main-nav a {
  -webkit-transition: padding 150ms, color 150ms;
  -moz-transition: padding 150ms, color 150ms;
  -ms-transition: padding 150ms, color 150ms;
  -o-transition: padding 150ms, color 150ms;
  transition: padding 150ms, color 150ms;
  color: #fff;
  display: block;
  padding: 21px 0 18px 0;
}
#main-nav li:hover {
  border-color: #6fbf6b;
}
#main-nav li:hover a,
#main-nav li.current-menu-item a,
#main-nav li.current-category-ancestor a,
#main-nav li.current-post-ancestor a,
#main-nav li.current-page-ancestor a {
  color: #6fbf69;
}
#main-nav li.finish {
  border: none !important;
  display: inline-block;
  height: 1px;
  width: 100%;
}

#main-nav-wrap {
  height: 71px;
  overflow: hidden;
}

#main-nav-c {
  width: 100%;
}

.new-scroll-nav {
  height: 44px;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 999;
}

body.admin-bar .new-scroll-nav {
  top: 28px;
}

.new-scroll-nav #main-nav {
  background-color: transparent;
  background-position: 0 -41px;
  height: 42px;
}
.new-scroll-nav #main-nav li {
  height: 28px;
}
.new-scroll-nav #main-nav li a {
  padding: 4px 0;
}

.scroll-nav-top {
  top: -120px !important;
  -webkit-transition: all 300ms linear;
  -moz-transition: all 300ms linear;
  -ms-transition: all 300ms linear;
  -o-transition: all 300ms linear;
  transition: all 300ms linear;
}

body.admin-bar #scroll-nav {
  top: 28px;
}

#main {
  background: #fff;
  padding-top: 46px;
  padding-bottom: 50px;
}

body.app-gallery #main {
  padding-bottom: 0;
}

footer {
  background: #f1f1f1;
  position: relative;
}
footer em {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: block;
}

.top-scroll {
  position: fixed;
  left: 0;
  bottom: 140px;
  width: 100%;
  height: 0;
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}
.top-scroll a {
  background: rgba(91, 91, 91, 0.15) url(img/sprites.png) no-repeat 15px -135px;
  border-radius: 31px;
  display: block;
  height: 62px;
  right: -32px;
  width: 62px;
  position: absolute;
}
.top-scroll a:hover {
  background-position: 15px -1812px;
}

.top-scroll-visible {
  opacity: 1;
}

.top-scroll-bottom {
  position: absolute;
  bottom: 492px;
}

body.app-gallery .top-scroll a {
  background-color: rgba(243, 128, 71, 0.85);
  background-position: 14px -1422px;
}

body.app-gallery .top-scroll a:hover {
  background-color: rgba(110, 190, 107, 0.85);
  background-position: 14px -1422px;
}

#logo-footer {
  margin: 0 50px 0 10px;
  float: left;
}

#site-search .hri-search {
  background: #fff;
  border-radius: 3px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.2);
  height: 46px;
  margin-bottom: 18px;
  margin-top: 28px;
  position: relative;
  width: 380px;
}
#site-search .hri-search .hri-input {
  border: 1px solid #dedede;
  border-right: none;
  border-radius: 3px;
  height: 44px;
  line-height: 44px;
  outline: none;
  background: #fff;
  text-indent: 18px;
  width: 330px;
  padding-top: 1px;
  padding-bottom: 1px;
}
#site-search .hri-search .hri-submit {
  background: url(img/sprites.png) no-repeat 16px 16px #4895a7;
  border: 1px solid #4895A7;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  height: 48px;
  outline: none;
  position: absolute;
  right: 0px;
  text-indent: -999px;
  top: 0;
  width: 53px;
}

#copyright {
  color: #333333;
  padding-top: 50px;
}
#copyright div {
  margin-top: 5px;
}

footer nav {
  display: block;
  clear: both;
  margin: 32px 0 66px 10px;
  width: 280px;
  color: #333333;
}
footer nav li {
  height: 39px;
  border-bottom: 1px solid #dedede;
  line-height: 39px;
}
footer nav li em {
  font-weight: bold;
  font-size: 12px;
}
footer nav li a {
  background: url(img/sprites.png) no-repeat 2px -199px;
  color: #444;
  display: block;
  font-weight: bold;
  padding-left: 22px;
}
footer nav ul ul li:first-child {
  border-top: none;
}
footer nav ul ul li a {
  margin-left: 22px;
}

.a-rss {
  background-position: 0 -1568px;
}

.a-facebook {
  background-position: 0 -1608px;
}

.a-twitter {
  background-position: 0 -1646px;
}

.a-email {
  background-position: 0 -1686px;
}

.a-slideshare {
  background-position: 0 -1724px;
}

.a-youtube {
  background: url(img/youtube_icon.png) no-repeat 0px 10px;
  background-size: 16px 16px;
}

.a-github {
  background: url(img/github_icon.png) no-repeat 0px 10px;
  background-size: 16px 16px;
}

.footer-col {
  float: left;
}

.footer-col-1st {
  width: 390px;
}

.footer-col-2nd {
  margin-left: 20px;
  height: 1px;
  width: 230px;
}

.footer-col-3rd {
  margin-left: 20px;
  padding-top: 13px;
  width: 280px;
}

#logo-wdc {
  margin-top: 140px;
}

.gform_body ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.gform_body ul li {
  background: none !important;
  padding-left: 0 !important;
}

.validation_message {
  font-weight: bold;
  color: red;
}

.gform_validation_container {
  display: none !important;
}

#gforms_confirmation_message {
  margin: 10px 0;
  border: 1px solid #ccc3fd;
  padding: 10px;
  background: #f0eaff;
}

.gform_body label {
  color: #111;
  margin-top: 12px;
  display: block;
}

.gfield_label {
  font-weight: bold;
}

.gform_wrapper .gform_body input {
  margin-bottom: 2px;
  line-height: 18px !important;
  height: 18px;
}

input[type="checkbox"], input[type="radio"] {
  display: inline;
}

input[type="checkbox"] + label, input[type="radio"] + label {
  display: inline;
  margin-left: 5px;
}

.gform_wrapper .small {
  width: 250px;
}

.gform_wrapper .medium {
  width: 300px;
}

.gform_wrapper .large {
  width: 350px;
}

.gform_wrapper h2 {
  margin-top: 24px;
}

.gform_wrapper .medium {
  width: 454px;
  max-width: 100%;
}

.gfield_description {
  font-size: 11px;
}

.gfield_required {
  color: #f00;
}

.validation_message {
  display: inline !important;
  padding-left: 10px;
}

.validation_error {
  background: #fee;
  border: 1px solid red;
  padding: 5px 10px;
}
